<div class="page-header">
  <h3><%= @user.username %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User ID</dt>
      <dd><%= @user.id %></dd>
      <dt>Email</dt>
      <dd><%= @user.email %></dd>
    </dl>
    <% @user.photos.each do |photo| %>
      <%= photo.user_id %>
      <%= photo.caption %>
      <img src = "<%= photo.image %>">
    <% end %>

  </div>

</div>
